/* ----------------------------- Multiple Selector ------------------------- */

*, body, #container{
  margin: 0px;
  padding: 0px;
}

#container{
  width:100%;
  height:100vh;
  position:relative;
  text-align: center;
}

#main, #main video{
  width: 100%;
  height: 100%;
}

/* ----------------------------- Banner ------------------------- */
#main {
/*  border-bottom: px solid black;*/
}

#main video{
  object-fit: cover;
}

.text-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:50px;
  position: absolute;
  top:0px;
  background: #0000004a;
  height: 100%;
  width: 100%;
  color: #fff;
  mix-blend-mode: normal;
}

.healthyLivingTitle{
  font-size: 100px;
  padding-bottom: 20px;

}
.bannerQuote{
  padding-top: 20px;
}

.bannerText, .bannerQuote{
  font-weight: bolder;
  font-size: 19px;
  padding: 0 80px;
  letter-spacing: 1.6px;
}

/* ------------------------------- Fruits & Veg Section ---------------------------- */

.healthyFood{
  padding: 30px 30px;
}

.FruitsVegTitle{
  font-size: 37px;
}

.fruitsVegCard{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin:20px 0px;
  padding:20px;
}

/* ------------------------------- Footer ---------------------------- */

footer{
  background: #6e919c;
  color: white;
  padding: 12px 0px;
  font-size: 19px;
}
