/* Multiple Selector */
*, body, #container{
  margin: 0px;
  padding: 0px;
}

#container{
  width:100%;
  height:100vh;
  position:relative;
  text-align: center;
}

#main{
  width: 100%;
  height: 100%;
}

#main video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:50px;
  position: absolute;
  top:0px;
  background: #0000004a;
  height: 100%;
  width: 100%;
  color: #fff;
  mix-blend-mode: normal;
}

.healthyLivingTitle{
  font-size: 100px;
  padding-bottom: 20px;

}
.quote{
  padding-top: 20px;
}

p{
  font-weight: bolder;
  font-size: 18px;
  padding: 0 80px;
}